html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#hero video {
 height: 100vh;
 width: 100%;
 background-position:absolute;
 z-index: 10;
 object-fit: cover;
}

#hero .content {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .content h1 {
    color: #fff;
    font-family: arial,sans-serif;
}

#hero .content P {
    color: #8f8f8f;
    font-family: arial,sans-serif;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    color: #fff;
    text-decoration: none;
    background: #660099;
    height: 100%;
    width: 100%;
    z-index: 20;
    position:relative;
    text-align: center;
    top: 10px;
}

.button:hover {
  transform: scale(1.05);
}

a:hover {
  background-color: #000000;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .search_box{
    width: 50%;
    position: relative;
    padding: 10px;
    z-index: 999;
  }
  
  .search_box input[type="text"]{
    width: 100%;
    padding: 25px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
  }
  
  .fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #fff;
    font-size: 25px;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
  }
  
  @media screen and (max-width: 425px){
    .search_box{
      width: 95%;
    }
  }

  /* Tüm bağlantıları özelleştir */
#results a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s;
}

/* Bağlantılara fare üzerine gelindiğinde rengini değiştir */
#results a:hover {
    color: #0056b3;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header h1 {
  font-size: 36px;
}

main {
  position: relative;
  top : 50px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
  margin-bottom: 50px;
}

article h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.post-meta {
  color: #666;
  font-size: 16px;
}

.post-content {
  color: #333;
  font-size: 18px;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
  box-shadow: 5px 5px 10px #000000;
}